/*Course Home Images*/

  .sevenCol2 {
	 background-image: url(../images/week1.jpg);
  }
  .sevenCol3 {
	 background-image: url(../images/week2.jpg);
  }
  .sevenCol4 {
	 background-image: url(../images/week3.jpg);
  }
  .sevenCol5 {
	background-image: url(../images/week4.jpg); 
  }
  .sevenCol6 {
	 background-image: url(../images/week5.jpg);
  }
  .sevenCol7 {
	 background-image: url(../images/week6.jpg);	 
  }